

.servics{
    padding: 40px;
    background-image: url(http://demos.codexcoder.com/labartisan/html/maxino/assets/images/service/bg.png);
    background-repeat: no-repeat;
    z-index: -3;
}

.servics h2{
    font-weight: 300;
    line-height: 40px;
}
.servics h2 span{
    color: #ff4181;
}


@media (min-width: 900px) {
    .servics-card-containar >div{
    display: flex;
    }

}
