.about-section {
    padding: 20px 10%;
}

.about-section .about{
    padding: 25px 0;
}

.about-section .about>div{
    max-width: 500px;
   
}

.about-section .about-image h2 {
    font-weight: 300;
    margin: 15px 0;
    line-height: 40px;

}

.about-section .about-image-div {
    max-width: 400px;
    max-height: 500px;
    margin: auto;
}

.about-section .about-image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section .about-image h2 span {
    color: #ff4181;
}


.about-section .about-text h2{
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 40px;

}
.about-section .about-text span{
    color: #ff4181;
}

.about-section .about-text h6{
    margin: 0px 0px 1.5em;
    padding: 0px;
    font-size: 1em;
    color: rgb(105, 105, 105);
    font-family: Roboto, sans-serif;
    line-height: 26px;
}


.about-section .aboutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section .aboutBtn img {
    margin-left: 15px;
}


.about-section .about-text ul{
    list-style: none;
    margin-bottom: 30px;
}
.about-section .about-text ul li{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    color: gray;
}

.about-section .about-text ul li b{
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: black;
}

.about-section .about-slidler{
    width: 100%;
    margin: 80px 0;
    background-image: url(http://demos.codexcoder.com/labartisan/html/maxino/assets/images/sponsor/bg.png);
    background-repeat: no-repeat;
}

@media (min-width: 1000px) {
    .about-section .about{
        display: flex;
    }
    .about-section .about >div{
        flex: 1;
        margin-right: 20px;
    }
}