.DesktobNav{
    display: none;
}


@media(min-width:1000px){
    .DesktobNav {
        display: block;
    }

    .DesktobNav ul{
        display: flex;
        align-items: center;
       list-style: none;
    }

    .DesktobNav ul li{
        margin: 0 1.2rem;
    }
}